<center>
<h1>Welcome to Library! 
<br><br>

<h4>Are you already a member? <a href="/login">Login </a> or <a href="/singup">Create an account</a> <br>

You can consult available books through this <a href="/library">link</a>
</center>